#cqssc
{
  width:100%;
  height: 100%;
}
.head
{

  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
  height:100px;
}

.head .details > .logo-tubiao
{
  float: left;
  width: 80px;
  height: 80px;
  margin-top:-2px;
  margin-left: 15px;
}
.details
{
  width: 1080px;
  float: left;
  height:100px;
  background: #ea4c4c;
  margin-left: 5px;
  box-sizing: border-box;
  padding-top: 10px;
  position: relative;
}
.left {
    width: 355px;
    height: 100%;
    float: left;
    margin-left: 13px;
    text-align:left;
}
.right
{
    width:300px;
    height:60px;
    margin-top:25px;
    margin-left:-50px;
    border: 1px solid #f2dcaf;
    background: #fffdf1;
    float: left;
    position: relative;
}
.right>p:first-child{
  position: absolute;
  top:-26px;
  text-align: left;
  color: #fff;
}
.right-left
{
    width:130px;
    float: left;
    height:100%;
}
.right-left>p:only-child{
  margin-top:15px;
}
.right-right
{
    width:170px;
    float: left;
}
.right-right span
{
    float: left;
    margin-top:5px;
    height:50px;
    line-height:50px;
    margin-right:5px;
}
.right-right .fen
{
    display: block;
    width:50px;
    height:50px;
    background: url('../img/opentimebg.png');
    background-size: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:5px;
    font-size:28px;
    color: #fff;
    line-height:50px;
    float: left;
    margin-right:5px;
}

.right-left>p
{
    height:32px;
    line-height:32px;
}
.balls
{
  float: left;
    margin-top:15px;
    /*margin-left:12px;*/
}
.balls>span
{
  display:block;
  float: left;
  background: url("../img/ball_cana.png");
  height: 40px;
  width: 40px;
  background-size: cover;
  text-align: center;
  line-height:40px;
  margin-right:8px;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}


.pan
{
    float: left;
    color: #000;
    margin-top:10px;
    margin-left:12px;
    margin-right:12px;
}
.pan select
{
  border-radius: 3px;
}

#bet-content
{
  width:1080px;
  overflow: hidden;
  margin-left:10px;
  float: left;
  margin-top: 5px;
}
#bet-content .bet-content-table,.bet-content-input
{

  height: 40px;
  width: 100%;
  background: #e63636;
}
.bet-content-input
{
  width: 1080px;
  background: #e9e9e9;
  color: #000;
}
#bet-content .bet-content-table a
{
  color:#f3f3f3;
  float: left;
  width: 60px;
  height: 40px;
  line-height:40px;
  text-align:center;
  font-size: 14px;
  position: relative;
  cursor:pointer;
}
#bet-content .bet-content-table span
{
  position: absolute;
  right: 0px;
  font-size: 12px;
  top:15px;
  width: 1px;
  height: 12px;
}
#bet-content .bet-content-table .active
{
  background:#ff6331;

}
.fast-bet
{
  float: left;
  color:#000;
  height:40px;
  line-height:40px;
  font-size: 14px;
  text-indent: 3px;
}
.fast-bet>input
{
  border:1px solid white;
  width: 60px;
  border-radius:3px;
  background: white;
}
.bet-btns
{
  float: left;
  height: 40px;
  overflow: hidden;
  width:922px;
}
.bet-btns>a
{
  display: block;
  height: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
  float: left;
  line-height: 20px;
  margin-left: 5px;
  color: #000;
  background: rgba(200,200,200,0.5);
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.bet-chooses
{
  width:100%;
}
.bet-chooses-top
{
  width: 100%;
  font-size: 14px;
}
.first-ball
{
  padding: 8px 6px;
  /*border: 1px solid rgba(200,200,200,0.5);*/
  border-top: 1px solid rgba(200,200,200,0.5);;
  width: 130px;;
  float: left;
  color: #000;
  margin-top: 25px;
  position: relative;
  margin-left:20px;
}
.first-ball>.first-ball-details
{
  margin-top: 15px;
}
.first-ball>.first-ball-details>input
{
  width: 50px;
  border-radius: 3px;
  outline: none;
  background: none;
  border: 1px solid rgba(0,0,0,0.5);
}
.first-ball-top
{
  position: absolute;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: -22px;
  left: 5px;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  font-size: 12px;
  /*background: #fff;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.long-bet
{
  width:1080px;
  height: 100px;
  border-top: 1px solid rgba(200,200,200,0.5);
  margin-top:25px;
  box-sizing: border-box;
  position: relative;
  color:#000;
  padding: 8px 6px;
}
.long-bet-content
{
  width: 199px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  float: left;
}
.special-code .long-bet-content>span:first-child
{
  color: #fff;
  font-size: 18px;
}
.long-bet-content>span{
  float: left;
  width: 60px;
  height: 30px;
  line-height:30px;
}
.long-bet-content>input
{
  float: left;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  outline: none;
  background: none;
  border: 1px solid rgba(0,0,0,0.5);
  margin-top: 5px;
}



#history {
  /*width: 250px;*/
  /*height: 500px;*/
  float: left;
  box-sizing: border-box;
  /*margin-top: 5px;*/
  position: absolute;
  right:165px;
  top:70px;
}

.history-header {
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  text-align: left;
  text-indent: 5px;
  color: #fff;
  font-size: 14px;
}

.history-header > span {
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
}

.history-table {
  height: 40px;
  box-sizing: border-box;
}

.history-table > a {
  float:right;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  margin-right:10px;
}

.history-table > .active {
  background: #ff6331;
  color: #fff;
}

.history-list {
    width: 650px;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  overflow: hidden;
  z-index:5;
  background: #fff;
  position: absolute;
  right:0px;
  top:28px ;
  padding-bottom: 15px;
  /*background: #4294d0;*/
}

.history-list > p {
  width: 100%;
  color: #000;
  box-sizing: border-box;
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  padding: 2px 15px;
  margin-top: 10px;
  border-bottom: 1px dashed gray;

}

.history-close {
  height: 40px;
  width: 100%;
  background: #e9e9e9;
  margin-top: 3px;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  overflow: hidden;
}

.history-close > a {
  display: block;
  height: 30px;
  background: rgba(200, 200, 200, 0.5);
  width: 50px;
  margin: 0 auto;
  color: #000;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 3px;
}

.hao0,.hao1,.hao2,.hao3,.hao4,.hao5,.hao6,.hao7,.hao8,.hao9
{
  display: block;
  width: 24px!important;
  height: 24px!important;
  background: url('../img/ball_cana.png');
  background-size: cover;
  float: left;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  text-align:center!important;
  line-height:24px!important;
  color: #000;
  text-indent: 0px;
}
.he22
{

  height: 22px!important;
  text-align:center!important;
  line-height:22px!important;
}
.innnn
{
  float:left;margin-left:6px;
  margin-top: 2px;
}
.text-0
{
  text-indent:0!important;
}
.padding3
{
  padding: 3px;
}
.bg-none
{
  background: none!important;
  color:#000;
  width: 8px!important;
  margin-right: 12px!important;
}

.history-balls
{
  width: 100%;
  padding:7px 12px;
  overflow:hidden;
  color:#000;
  box-sizing: border-box;
  border-bottom:1px dashed rgba(200,200,200,0.8);
}
.history-balls>span
{
  float: left;
  height: 25px;
  width: auto;
  line-height: 23px;

}
.history-balls>span:nth-of-type(2)
{
  margin-left:1px;
}
.code-ball
{
  height: 22px;
  width: 22px;
  background: url('../img/ball_cana.png');
  background-size: cover;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-left:3px;
  margin-right:3px;
  float: left;
}
.history-balls>.code-fh
{
  margin-left:3px;
  margin-right:3px;
}
.bg-red{
  background: #9c464d!important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.bg-green{
  background: #3b9c6d !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.bg-blue{
  background: #285b9c !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.bg-white{
  background: #9f9f9f !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/*.history-tables-ssc*/
/*{*/
    /*width: 100%;*/
    /*font-size: 12px;*/
/*}*/
/*.history-tables-ssc td*/
/*{*/
    /*padding: 5px;*/
    /*border: 1px solid #e5e5e5;*/
/*}*/
.history-tables-ssc
{
  width: 100%;
  font-size: 12px;
  z-index: 10;
  background: #f5f5f5;
}
.history-tables-ssc td
{
  padding: 3px;
  border: 1px solid #e5e5e5;

}
