.el-checkbox__label
{
  padding-left: 2px;
}
.el-form-item
{
  margin-bottom: -5px;
}
.el-checkbox-group
{
  text-align: left;
}
.el-checkbox+.el-checkbox
{
  margin-left:25px;
}
.el-dialog__body
{
  line-height:28px;
}

.el-tabs__header
{
    margin:0;
}
.el-tabs__nav-wrap
{
    margin-bottom: 5px;
}
.el-tabs__nav-scroll
{
    width: 100%;
}
.el-tabs__active-bar
{
    left: 12px;
}
.el-tabs__nav
{
    float: none;
}

