.el-checkbox__label
{
  padding-left: 2px;
}
.el-form-item
{
  margin-bottom: -5px;
}
.el-checkbox-group
{
  text-align: left;
}
.el-checkbox+.el-checkbox
{
  margin-left:25px;
}
.el-dialog__body
{
  line-height:28px;
}

.el-tabs__header
{
    margin:0;
}
.el-tabs__nav-wrap
{
    margin-bottom: 5px;
}
.el-tabs__nav-scroll
{
    width: 100%;
}
.el-tabs__active-bar
{
    left: 19px;
}
.el-tabs__nav
{
    float: none;
}
.btn-fast
{
    height:30px;
    padding:5px 10px;
    margin-top: 5px;
    float:left;
    margin-left: 15px;
}
.my-input-elm
{
    width: 60px;display: inline-block;height:28px;
}
.my-input-elm>input
{
    height: 28px;
    text-align: left;
    width: 60px;
    padding:0 3px;
}

.set-fast-money
{
    height:30px;
    padding:5px 10px;
    margin-top: 5px;
    float:left;
    margin-left: 15px;
}
.my-input-elm-set > input
{
    height: 28px;
    margin-top: 15px;
    text-align: center;
}
.el-popover
{
    min-width: 80px;
}


.el-checkbox__label
{
    padding-left: 2px;
}

.w50
{
    width: 50px;
}

.my-click-class
{
  float: left;
}

.el-checkbox+.el-checkbox
{
  margin-left:18px;
}
