#cqssc {
  width: 100%;
  height: 100%;
}

.head {
  height: 90px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.head > img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.details {
  width: 987px;
  float: left;
  height: 60px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-left: 15px;
  box-sizing: border-box;
  padding-top: 10px;
}

.left {
  width: 120px;
  height: 100%;
  float: left;
  margin-left: 5px;
}

.balls {
  float: left;
}

.balls > span {
  display: block;
  float: left;
  background: url("..//img/ball.png");
  height: 40px;
  width: 40px;
  background-size: cover;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  font-size: 26px;
  font-weight: 700;
}

.description {
  float: left;
  height: 100%;
  text-align: left;
  margin-left: 13px;
  position: relative;
}

.pan {
  position: absolute;
  right: 0px;
  top: 22px;
  color: #f3f3f3;
}

.pan select {
  border-radius: 3px;
}

.count-down {
  float: left;
  height: 100%;
}

.count-down > span {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #99cff6;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  margin-left: 5px;
  float: left;
}

.count-down > b {
  float: left;
  margin-top: 25px;
}

.audio {
  margin-top: 6px;
}

#bet-content {
  width: 800px;
  overflow: hidden;
  margin-left: 20px;
  float: left;
  background: #4294d0;
}

#bet-content .bet-content-table, .bet-content-input {
  height: 40px;
  width: 100%;
  background: #266ea0;
}

.bet-content-input {
  background: #2c7cb7;
}

#bet-content .bet-content-table a {
  color: #f3f3f3;
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

#bet-content .bet-content-table span {
  position: absolute;
  right: 0px;
  font-size: 12px;
  top: 15px;
  background: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 12px;
}

#bet-content .bet-content-table .active {
  background: rgba(255, 255, 255, 0.5);
}

.fast-bet {
  float: left;
  color: #f3f3f3;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-indent: 3px;
}

.fast-bet > input {
  border: 1px solid white;
  width: 60px;
  border-radius: 3px;
  background: none;
}

.bet-btns {
  float: left;
  height: 40px;
  overflow: hidden;
  width: 630px;
}

.bet-btns > a {
  display: block;
  height: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
  float: left;
  line-height: 20px;
  margin-left: 5px;
  color: #f3f3f3;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 3px;
  font-size: 14px;
}

.bet-chooses {
  width: 100%;
}

.bet-chooses-top {
  width: 100%;
  font-size: 14px;
}

.first-ball {
  padding: 8px 6px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  width: 130px;;
  float: left;
  color: #f3f3f3;
  margin-top: 25px;
  position: relative;
  margin-left: 20px;
}

.first-ball > .first-ball-details {
  margin-top: 15px;
}

.first-ball > .first-ball-details > input {
  width: 48px;
  border-radius: 3px;
  outline: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.first-ball-top {
  position: absolute;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: -10px;
  left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  background: #328bcd;
}

.long-bet {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  margin-top: 25px;
  box-sizing: border-box;
  position: relative;
  color: #f3f3f3;
}

.long-bet-content {
  width: 199px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  float: left;
}

.long-bet-content > span {
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
}

.long-bet-content > input {
  float: left;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  outline: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

#history {
  width: 257px;
  height: 500px;
  /* border: 1px solid #fff; */
  float: left;
  box-sizing: border-box;
}

.history-header {
  background: #266ea0;
  height: 40px;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  line-height: 40px;
  text-align: left;
  text-indent: 5px;
  color: #f3f3f3;
  font-size: 14px;
}

.history-header > span {
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
}

.history-table {
  background: #2c7cb7;
  height: 40px;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
}

.history-table > a {
  float: left;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-left: 15px;
  margin-top: 5px;
  border-radius: 3px;
  color: #f3f3f3;
  cursor: pointer;
}

.history-table > .active {
  background: rgba(200, 200, 200, 0.5);
}

.history-list {
  width: 100%;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  overflow: hidden;
  background: #4294d0;
}

.history-list > p {
  width: 100%;
  color: #f3f3f3;
  box-sizing: border-box;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  padding: 2px 15px;
  margin-top: 10px;

}

.history-close {
  height: 40px;
  width: 100%;
  background: #2c7cb7;
  margin-top: 3px;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  overflow: hidden;
}

.history-close > a {
  display: block;
  height: 30px;

  background: rgba(200, 200, 200, 0.5);
  width: 50px;
  margin: 0 auto;
  color: #f3f3f3;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 3px;
}

.hao0, .hao1, .hao2, .hao3, .hao4, .hao5, .hao6, .hao7, .hao8, .hao9 {
  display: block;
  width: 22px !important;
  height: 22px !important;
  background: url('../img/ball.png');
  background-size: cover;
  float: left;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  text-align: center !important;
  line-height: 22px !important;
  color: #000;
  text-indent: 0px;
}

.he22 {

  height: 22px !important;
  text-align: center !important;
  line-height: 22px !important;
}

.innnn {
  float: left;
  margin-left: 6px;
  margin-top: 2px;
}

.text-0 {
  text-indent: 0 !important;
}

.padding3 {
  padding: 3px;
}

.history-balls {
  width: 100%;
  padding: 7px 12px;
  overflow: hidden;
  color: #f3f3f3;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(200, 200, 200, 0.8);
}

.history-balls > span {
  float: left;
  height: 25px;
  width: auto;
  line-height: 25px;

}

.history-balls > span:nth-of-type(2) {
  margin-left: 10px;
}

.history-balls > .code-ball {
  height: 25px;
  width: 25px;
  background: url('../img/ball.png');
  background-size: cover;
  font-size: 18px;
  color: #545454;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
}

.history-balls > .code-fh {
  margin-left: 3px;
  margin-right: 3px;
}
