 #cqssc
    {
        width:100%;
        height: 100%;
    }
    .head
    {
        width: 100%;
        box-sizing: border-box;
        padding-left: 5px;
    }
    .head>img
    {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 15px;
    }
   .head .details > .logo-tubiao {
     float: left;
     width: 54px;
     height: 54px;
     margin-top: 4px;
     margin-left: 15px;
   }
    .details
    {
        width: 1050px;
        float: left;
        height: 80px;
        margin-top:1px;
        /*background: rgba(0,0,0,0.5);*/
       background: #ea4c4c;
        margin-left: 5px;
        box-sizing: border-box;
        padding-top: 10px;
        position: relative;
    }
 .left {
     width: 400px;
     height: 100%;
     float: left;
     margin-left: 13px;
     text-align:left;
 }
 .right
 {
     width:300px;
     height:65px;
     border: 1px solid #f2dcaf;
     background: #fffdf1;
     float: left;
 }
 .right-left
 {
     width:130px;
     float: left;
     height:100%;
 }
 .right-right
 {
     width:170px;
     float: left;
 }
 .right-right span
 {
     float: left;
     margin-top:5px;
     height:50px;
     line-height:50px;
     margin-right:5px;
 }
 .right-right .fen
 {
     display: block;
     width:50px;
     height:50px;
     background: url('../img/opentimebg.png');
     background-size: cover;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     margin-top:5px;
     font-size:28px;
     color: #fff;
     line-height:50px;
     float: left;
     margin-right:5px;
 }

 .right-left>p
 {
     height:32px;
     line-height:32px;
 }
    .balls
    {
        float: left;
        margin-top:13px;
    }
    .balls>span
    {
        display:block;
        float: left;
        height: 25px;
        width: 25px;
        background-size: cover;
        text-align: center;
        line-height:25px;
        margin-right:8px;
        font-size: 18px;
        font-weight: 700;
        border-radius:3px;
        color: white;
    }


    .pan
    {
        float: left;
        color: #000;
        margin-top:10px;
        margin-left:12px;
        margin-right:12px;
    }
    .pan select
    {
        border-radius: 3px;
    }

    #bet-content
    {
        width:1050px;
        overflow: hidden;
        margin-left:10px;
        float: left;
        /*background: #4294d0;*/
        margin-top: 5px;
    }
    #bet-content .bet-content-table,.bet-content-input
    {
        height: 40px;
        width: 100%;
       background: #e63636;
    }
    .bet-content-input
    {
      background: #e9e9e9;
      color: #000;
    }
    #bet-content .bet-content-table a
    {
        color:#f3f3f3;
        float: left;
        width: auto;
        height: 40px;
        line-height:40px;
        text-align:center;
        font-size: 14px;
        position: relative;
        cursor:pointer;
        padding:0 8px;
    }
     #bet-content .bet-content-table span
     {
         position: absolute;
         right: 0px;
         font-size: 12px;
         top:15px;
         background:rgba(255,255,255,0.5);
         width: 1px;
         height: 12px;
     }
     #bet-content .bet-content-table .active
     {
       background: #ff6331;
     }
     .fast-bet
     {
         float: left;
         height:40px;
         line-height:40px;
         font-size: 14px;
         text-indent: 3px;
     }
     .fast-bet>input
     {
         border:1px solid white;
         width: 60px;
         border-radius:3px;
         background: #fff;
     }
     .bet-btns
     {
         float: left;
         height: 40px;
         overflow: hidden;
         width:890px;
     }
     .bet-btns>a
     {
         display: block;
         height: 20px;
         margin-top: 10px;
         box-sizing: border-box;
         padding: 0 10px;
         float: left;
         line-height: 20px;
         margin-left: 5px;
         background: rgba(200,200,200,0.5);
         border-radius: 3px;
         font-size: 14px;
       cursor: pointer;
     }

     .bet-chooses
     {
         width:100%;
     }
     .bet-chooses-top
     {
         width: 100%;
         font-size: 14px;
     }
     .first-ball
     {
         padding: 8px 6px;
         border: 1px solid rgba(200,200,200,0.5);
         width: 180px;;
         float: left;
         color: #000;
         margin-top: 15px;
         position: relative;
         margin-left:20px;
     }
     .first-ball>.first-ball-details
     {
         margin-top: 14px;
     }


     .first-ball-details>span:first-of-type
     {
         width: 25px;
         height: 25px;
         text-align: center;
         line-height: 25px;
         text-indent: 0px;
         border-radius: 3px;
         /*color: #fff;*/
         font-weight: 700;
     }
     .first-ball>.first-ball-details>input
     {
         width: 50px;
         border-radius: 3px;
         outline: none;
         background: white;
         border: 1px solid rgba(0,0,0,0.5);
     }
     .first-ball-top
     {
       position: absolute;
       height: 20px;
       line-height: 20px;
       text-align: center;
       top: -10px;
       left: 5px;
       border: 1px solid rgba(255, 255, 255, 0.5);
       font-size: 12px;
       background: #fff;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       color: #000;
     }
     .long-bet
     {
        width:1050px;
        height: 100px;
        border: 1px solid rgba(200,200,200,0.5);
        margin-top:25px;
        box-sizing: border-box;
        position: relative;
        color:#000;
     }
     .long-bet-content
     {
         width: 199px;
         height: 30px;
         margin-top: 10px;
         font-size: 14px;
         float: left;
     }

     .long-bet-content>span{
         float: left;
         width: 60px;
         height: 30px;
         line-height:30px;
     }
     .long-bet-content>input
     {
         float: left;
         width: 50px;
         height: 20px;
         border-radius: 3px;
         outline: none;
         background: none;
         border: 1px solid rgba(0,0,0,0.5);
         margin-top: 5px;
     }



     #history
     {
         width: 250px;
         /*height: 500px;*/
        /* border: 1px solid #fff; */
         float: left;
         box-sizing: border-box;
         margin-top: 5px;
         position: absolute;
         right: 0;
         top:50px;
     }
     .history-header
     {
         /*background: #e63636;*/
         height: 40px;
         /*border-left: 1px solid rgba(200,200,200,0.5);*/
         box-sizing: border-box;
         line-height: 40px;
         text-align:left;
         text-indent:5px;
         color: #f3f3f3;
         font-size: 14px;
     }
     .history-header>span
     {
         height: 40px;
         line-height: 40px;
         margin-right: 10px;
     }
     .history-table
     {

         /*background: #e9e9e9;*/
         height: 40px;
         /*border-left: 1px solid rgba(200,200,200,0.5);*/
         box-sizing: border-box;
         /*z-index: 5;*/
     }
      .history-table > a
      {
          color: #fff;
          float:right;
          font-size: 14px;
          cursor: pointer;
          margin-right:10px;

      }
      .history-table>.active
      {
        background: #ff6331;
        color: #fff;
      }
      .history-list
      {
          width:650px;
          box-sizing: border-box;
          overflow: hidden;
          z-index:5;
          background: #fff;
          position: absolute;
          right:0;
          top:21px ;
          padding-bottom: 10px;
          border: 2px solid #d6d6d6;
      }
      .history-list>p
      {
          width: 100%;
          color: #f3f3f3;
          box-sizing: border-box;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          padding:2px 15px;
          margin-top: 10px;

      }
      .history-close
      {
          height: 40px;
          width: 100%;
          background: #e9e9e9;
          margin-top: 3px;
          border-left: 1px solid rgba(200,200,200,0.5);
          box-sizing: border-box;
          overflow: hidden;
      }
      .history-close>a
      {
        display: block;
        height: 30px;
        background: rgba(200, 200, 200, 0.5);
        width: 50px;
        margin: 0 auto;
        color: #000;
        text-align: center;
        line-height: 30px;
        margin-top: 5px;
        font-size: 14px;
        border-radius: 3px;
      }

       .hao0,.hao1,.hao2,.hao3,.hao4,.hao5,.hao6,.hao7,.hao8,.hao9,.hao10
      {
          color:#fff;
      }
      .he22
      {

           height: 25px!important;
           text-align:center!important;
           line-height:25px!important;
           width: 40px;
           text-indent:0px;
           margin-left:20px;
      }
      .innnn
      {
          float:left;
          margin-left:6px;
          margin-top: 2px;
          width:50px;
          height: 30px;
          line-height: 20px;
      }
      .text-0
      {
          text-indent:0!important;
      }
      .padding3
      {
          padding: 3px;
      }
      .hao1
      {
          background: #959612;
      }
      .hao2
      {
          background: #0060ff;
      }
      .hao3
      {
          background: #4d4d4d;
      }
      .hao4
      {
          background: #ff7300;
      }
      .hao5
      {
          background: #00adad;
      }
      .hao6
      {
          background:#5200ff;
      }
      .hao7
      {
          background: #666666;
      }
      .hao8
      {
          /*background: #ff0000;*/
          background:#9300ffe8;
      }
      .hao9
      {
          background:#760000;
      }
      .hao10
      {
          background:#167301;
      }


      .height-auto
      {
          height: auto!important;
          margin-bottom: 15px;
      }
      .mrt-55
      {
          margin-bottom:55px;
      }
      .hao123
      {
          padding-top: 10px;
      }
      .hao123>.long-bet-content>span:first-of-type
      {
          width:25px;
          height: 25px;
          line-height: 25px;
          margin-left: 5px;
          font-size: 20px;
          font-weight: 700;
          text-align:center;
          border-radius: 3px;
      }

      .font16px
      {
          font-size: 14px!important;
          height: 30px!important;
          line-height: 30px!important;
      }

        .history-balls
    {
        width: 100%;
        padding:7px 12px;
        padding-top: 3px;
        overflow:hidden;
        /*color:#f3f3f3;*/
        box-sizing: border-box;
        border-bottom:1px dashed rgba(200,200,200,0.8);
    }
    .history-balls>span
    {
        float: left;
        height: 25px;
        width: auto;
        line-height: 25px;

    }
    .history-balls>span:nth-of-type(1)
    {
        margin-left: 0px;
    }
    .code-ball
    {
        height: 18px;
        width: 18px;
        border-radius: 3px;
        background-size: cover;
        font-size: 14px;
        color:#f3f3f3;
        font-weight: 700;
        margin-left:3px;
        line-height: 20px;
        float: left;

    }
    .history-balls>.code-fh
    {
        margin-left:3px;
        margin-right:3px;
    }
    .history-balls>p
    {
        height: 20px;
        line-height: 20px;
    }

 .history-tables-ssc
 {
     width: 100%;
     font-size: 12px;
 }
 .history-tables-ssc td
 {
     padding: 5px;
     border: 1px solid #e5e5e5;
 }
